body {
  background-color: #222831;
  color: #00adb5;
}
.App {
  max-width: 650px;
  margin: 30px auto;
}

.App footer {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
}

.App a {
  text-decoration: none;
  color: #00fff5;
}
