body {
  background-color: black;
  color: azure;
}

.App {
  text-align: center;
  margin-top: 50px;
}

.searchResault {
  display: block;
  margin: 0 auto;
  text-align: center;

  max-width: 40%;
  margin-top: 30px;
}

.searchResault ul {
  list-style-type: none;
  padding-inline-start: 0;
}
