.Weather {
  border: 1px solid #393e46;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  box-shadow: 10px 10px 20px rgba(0, 255, 245, 0.1);
}

.Weather .searchButton {
  border: #00adb5 solid 2px;
  padding: 4px 20px;
  background: #222831;
  color: #00adb5;
  font-size: 18px;
}
